<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ações - Flask League App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .champion-container {
            position: relative;
            display: inline-block;
            margin: 10px;
            text-align: center;
            width: 100px;
        }
        .champion-icon {
            width: 100px;
            height: 100px;
            cursor: pointer;
            transition: transform 0.2s;
            border-radius: 50%;
        }
        .champion-icon:hover {
            transform: scale(1.1);
        }
        .selected {
            border: 3px solid #007bff;
            border-radius: 50%;
        }
        .champion-number {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: white;
            font-weight: bold;
            pointer-events: none; /* Faz com que o número não interfira no clique */
            text-shadow: 2px 2px 4px #000; /* Adiciona sombra para melhor visibilidade */
        }
        .champion-name {
            margin-top: 8px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .toast-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1080;
        }
        /* Estilo de alerta para o Toast */
        #connection-toast {
            background-color: #dc3545; /* Fundo vermelho */
            color: white;              /* Texto branco */
            font-size: 1.2rem;         /* Aumentar o tamanho da fonte */
            padding: 15px;             /* Maior espaçamento interno */
        }

        /* Estilo do cabeçalho do Toast */
        .toast-header {
            background-color: #b02a37; /* Cor mais escura no cabeçalho */
            color: white;              /* Texto branco */
        }

        .toast-body {
            font-weight: bold;         /* Tornar o texto do corpo em negrito */
        }
    </style>
</head>
<body class="bg-light">
    <div id="connection-alert" class="alert alert-danger" role="alert" style="display: none;">
        <strong>⚠️ Conexão Perdida</strong> Conexão com o servidor perdida. Tentando reconectar...
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="mt-4">Bem-vindo {{ summoner.game_name }}</h2>
                <h1 class="my-5">Configurações de Automação</h1>
                <div class="d-flex justify-content-around align-items-center my-5">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 me-3">Aceitar Partidas:</h5>
                        <button id="toggleButton" class="btn btn-{{ 'success' if accept_matches else 'danger' }} btn-lg">
                            {{ 'ATIVADO' if accept_matches else 'DESATIVADO' }}
                        </button>
                    </div>
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 me-3">Pausar Verificação:</h5>
                        <button id="pauseToggleButton" class="btn btn-secondary btn-lg">
                            CARREGANDO...
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4" id="championSelection">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Selecionar Campeões para Escolher</h3>
                    <div>
                        <div id="selectedPickChampions" class="d-flex"></div>
                        <button id="clearPickButton" class="btn btn-sm btn-outline-secondary ms-2">Limpar Lista</button>
                    </div>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pickChampionList" aria-expanded="false" aria-controls="pickChampionList">
                        Toggle Lista de Campeões
                    </button>
                </div>
                <div class="collapse" id="pickChampionList">
                    <div id="pickChampionGrid" class="d-flex flex-wrap justify-content-center"></div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
                    <h3>Selecionar Campeões para Banir</h3>
                    <div>
                        <div id="selectedBanChampions" class="d-flex"></div>
                        <button id="clearBanButton" class="btn btn-sm btn-outline-secondary ms-2">Limpar Lista</button>
                    </div>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#banChampionList" aria-expanded="false" aria-controls="banChampionList">
                        Toggle Lista de Campeões
                    </button>
                </div>
                <div class="collapse" id="banChampionList">
                    <div id="banChampionGrid" class="d-flex flex-wrap justify-content-center mb-4"></div>
                </div>
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // --- VARIÁVEIS GLOBAIS ---
        const toggleButton = document.getElementById("toggleButton");
        const pauseToggleButton = document.getElementById("pauseToggleButton");

        let acceptMatches = {{ accept_matches | tojson }};
        let isGameflowPaused = false; // Default state

        const champions = {{ champions | tojson }};
        let selectedBanChampions = {{ selected_ban_champions | tojson }};
        for (let i = 0; i < selectedBanChampions.length; i++) {
            selectedBanChampions[i] = selectedBanChampions[i].charAt(0).toUpperCase() + selectedBanChampions[i].slice(1);
        }

        let selectedPickChampions = {{ selected_pick_champions | tojson }};
        for (let i = 0; i < selectedPickChampions.length; i++) {
            selectedPickChampions[i] = selectedPickChampions[i].charAt(0).toUpperCase() + selectedPickChampions[i].slice(1);
        }


        // --- BOTÃO DE ACEITAR PARTIDAS ---
        function updateButton() {
            toggleButton.textContent = acceptMatches ? "ATIVADO" : "DESATIVADO";
            toggleButton.className = `btn btn-${acceptMatches ? 'success' : 'danger'} btn-lg`;
        }

        toggleButton.addEventListener("click", function() {
            acceptMatches = !acceptMatches;
            fetch("/actions", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: new URLSearchParams({ accept_matches: acceptMatches })
            })
            .then(() => updateButton())
            .catch(error => console.error("Error:", error));
        });

        toggleButton.addEventListener("mouseover", function() {
            toggleButton.textContent = acceptMatches ? "DESATIVADO" : "ATIVADO";
            toggleButton.className = `btn btn-${acceptMatches ? 'danger' : 'success'} btn-lg`;
        });

        toggleButton.addEventListener("mouseout", function() {
            updateButton();
        });

        updateButton(); // Atualiza o botão ao carregar a página

        
        // --- BOTÃO DE PAUSAR VERIFICAÇÃO ---
        function updatePauseButton() {
            pauseToggleButton.textContent = isGameflowPaused ? "PAUSADO" : "ATIVO";
            pauseToggleButton.className = `btn btn-${isGameflowPaused ? 'danger' : 'success'} btn-lg`;
        }
        
        // Busca o estado inicial quando a página carrega
        document.addEventListener("DOMContentLoaded", function() {
            fetch("/actions/get_pause_gameflow_check")
                .then(response => response.json())
                .then(data => {
                    isGameflowPaused = data.paused;
                    updatePauseButton();
                })
                .catch(error => {
                    console.error("Error fetching pause state:", error);
                    pauseToggleButton.textContent = "ERRO";
                    pauseToggleButton.className = "btn btn-warning btn-lg";
                });
        });

        pauseToggleButton.addEventListener("click", function() {
            fetch("/actions/toggle_pause_gameflow_check", { method: "POST" })
            .then(response => response.json())
            .then(data => {
                isGameflowPaused = data.paused; // Atualiza o estado com a resposta do servidor
                updatePauseButton();
            })
            .catch(error => console.error("Error toggling pause state:", error));
        });

        pauseToggleButton.addEventListener("mouseover", function() {
            pauseToggleButton.textContent = isGameflowPaused ? "ATIVO" : "PAUSADO";
            pauseToggleButton.className = `btn btn-${isGameflowPaused ? 'success' : 'danger'} btn-lg`;
        });

        pauseToggleButton.addEventListener("mouseout", function() {
            updatePauseButton();
        });


        // --- LÓGICA DE SELEÇÃO DE CAMPEÕES ---
        function loadChampions() {
            const version = "14.20.1";
            const banChampionGrid = document.getElementById("banChampionGrid");
            const pickChampionGrid = document.getElementById("pickChampionGrid");

            for (const [key, name] of Object.entries(champions)) {
                const championContainerBan = createChampionContainer(key, key, "ban", version);
                const championContainerPick = createChampionContainer(key, key, "pick", version);
                banChampionGrid.appendChild(championContainerBan);
                pickChampionGrid.appendChild(championContainerPick);
            }
            updateSelectedChampions('pick');
            updateSelectedChampions('ban');
            updateChampionIcons(true);  // Update ban icons
            updateChampionIcons(false); // Update pick icons
        }

        function createChampionContainer(key, name, type, version) {
            const container = document.createElement("div");
            container.className = "champion-container";

            const img = document.createElement("img");
            img.src = `https://ddragon.leagueoflegends.com/cdn/${version}/img/champion/${key}.png`;
            img.alt = name;
            img.className = "champion-icon";
            img.onclick = () => toggleChampionSelection(key, type);

            const numberOverlay = document.createElement("div");
            numberOverlay.className = "champion-number";
            numberOverlay.id = `${type}-${key}-number`; // ID único para cada número
            
            const nameElement = document.createElement("div");
            nameElement.className = "champion-name";
            nameElement.textContent = name;

            container.appendChild(img);
            container.appendChild(numberOverlay);
            container.appendChild(nameElement);
            return container;
        }

        function toggleChampionSelection(championKey, type) {
            const isBan = type === "ban";
            const selectedChampions = isBan ? selectedBanChampions : selectedPickChampions;

            if (selectedChampions.includes(championKey)) {
                selectedChampions.splice(selectedChampions.indexOf(championKey), 1);
                notifyBackend(championKey, type, false);
            } else {
                if (selectedChampions.length < 3) {
                    selectedChampions.push(championKey);
                    notifyBackend(championKey, type, true);
                } else {
                    alert(`Você só pode selecionar até 3 campeões para ${type === "ban" ? "banir" : "escolher"}.`);
                    return;
                }
            }

            updateSelectedChampions(type);
            updateChampionIcons(isBan);
        }

        function notifyBackend(championKey, type, isSelecting) {
            fetch(`/actions/select_champion`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ champion: championKey, type: type, selecting: isSelecting })
            })
            .then(response => response.json())
            .then(data => {
                if (data.selectedChampions) {
                    updateSelections(data.selectedChampions);
                }
            })
            .catch(error => console.error("Error:", error));
        }

        function updateChampionIcons(isBan) {
            const championGrid = document.getElementById(isBan ? "banChampionGrid" : "pickChampionGrid");
            const selectedChampions = isBan ? selectedBanChampions : selectedPickChampions;
            const championsInGrid = Array.from(championGrid.getElementsByClassName("champion-icon"));

            championsInGrid.forEach((img, index) => {
                const key = Object.keys(champions)[index];
                const numberOverlay = document.getElementById(`${isBan ? 'ban' : 'pick'}-${key}-number`);

                if (selectedChampions.includes(key)) {
                    img.classList.add("selected");
                    numberOverlay.textContent = selectedChampions.indexOf(key) + 1; // Define o número
                } else {
                    img.classList.remove("selected");
                    numberOverlay.textContent = ""; // Remove o número se não estiver selecionado
                }
            });
        }

        function updateSelectedChampions(type) {
            const selectedChampions = type === 'pick' ? selectedPickChampions : selectedBanChampions;
            const container = document.getElementById(`selected${type.charAt(0).toUpperCase() + type.slice(1)}Champions`);
            container.innerHTML = '';
            
            selectedChampions.forEach(championKey => {
                const img = document.createElement('img');
                img.src = `https://ddragon.leagueoflegends.com/cdn/14.20.1/img/champion/${championKey}.png`;
                img.alt = champions[championKey];
                img.className = 'selected-champion-icon';
                img.style.width = '30px';
                img.style.height = '30px';
                img.style.marginRight = '5px';
                container.appendChild(img);
            });
        }

        function clearSelectedChampions(type) {
            if (type === 'pick') {
                for (const champion of selectedPickChampions) {
                    notifyBackend(champion, 'pick', false);
                }
                selectedPickChampions = [];
            } else {
                for (const champion of selectedBanChampions) {
                    notifyBackend(champion, 'ban', false);
                }
                selectedBanChampions = [];
            }
            updateSelectedChampions(type);
            updateChampionIcons(type === 'ban');
        }

        document.getElementById('clearPickButton').addEventListener('click', () => clearSelectedChampions('pick'));
        document.getElementById('clearBanButton').addEventListener('click', () => clearSelectedChampions('ban'));

        loadChampions();

        
        // --- VERIFICAÇÃO DE CONEXÃO COM O SERVIDOR ---
        let intervalId;
        let retryInterval = 3000;
        let isConnectionLostNotificationShowing = false;

        function checkServerRestart() {
            fetch('/check_restart')
                .then(response => response.json())
                .then(data => {
                    const lastRefresh = localStorage.getItem('lastRefresh');
                    const serverRestartTime = data.server_restart_time;

                    if (!lastRefresh || lastRefresh !== serverRestartTime) {
                        localStorage.setItem('lastRefresh', serverRestartTime);
                        location.reload(); 
                    }
                })
                .catch(error => {
                    console.error('Erro ao verificar o estado do servidor:', error);
                    showConnectionLostNotification();
                    clearInterval(intervalId);
                    retryInterval = 500;
                    intervalId = setInterval(checkServerRestart, retryInterval);  
                });
        }

        function showConnectionLostNotification() {
            if (isConnectionLostNotificationShowing) return;  
            isConnectionLostNotificationShowing = true;
            document.getElementById("connection-alert").style.display = "block";
        }

        window.onload = function() {
            intervalId = setInterval(checkServerRestart, retryInterval);
        };
    </script>
</body>
</html>